@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700&display=swap"); */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #eee;
  background-color: #444450;
}

a {
  color: inherit;
  text-decoration: inherit;
}

hr {
  border: none;
  border-top: solid 1px #999;
  width: 100px;
  padding: 18px 0 0 0;
  margin: 36px 0 0 0;
}

section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

section > .container {
  margin: 30px auto;
  padding: 15px;
  max-width: 1100px;
  box-sizing: content-box;
}

article {
  width: 58.33%;
  margin: 48px auto;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

article .hi {
  font-weight: 400;
  color: #fff;
}

.signature {
  margin-top: 36px;
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #7db3af;
  margin-bottom: 1em;
}

span.underline {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: solid 2px #3cf;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 24px;
}

.pick-container {
  position: relative;
  margin: 64px 0 48px 0;
}

.pick-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 128px;
  margin-left: 24px;
  border-left: solid 4px #ff4256;
  /* border-left: solid 4px #ff406c; */
}

.pick-label > h2 {
  margin: 0;
  display: inline-block;
  background: #ff406c;
  background: linear-gradient(90deg, #ff406c 0%, #ff406c 15%, #ff4633 100%);
  color: #444450;
  padding: 6px 12px 6px 12px;
  /* padding: 6px 18px 6px 18px; */
  font-weight: 400;
}

.pick {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  padding: 60px 0 0 44px;
  box-sizing: border-box;
}

.pick-img-container {
  position: relative;
  width: 50%;
}

a.pick-img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-color: #000;
}

.pick a.more {
  font-weight: 600;
  color: #ff4256;
  /* color: #ff406c; */
  text-decoration: none;
}

.pick-title-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  line-height: 3rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15%;
  font-weight: 700;
  color: #ff4256;
  /* color: #ff406c; */
  text-align: center;
}

.sous-titre-fr {
  display: block;
}

.pick-title-container .sous-titre-fr {
  opacity: 0.5;
}

h1.colored .sous-titre-fr {
  color: #607b7f;
}

h1.colored.ispick .sous-titre-fr {
  color: #a14353;
}

a.pick-img > img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

a.pick-img > .duree {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: inline-block;
  padding: 2px 4px;
  color: #111;
  background-color: #ff4256;
  /* background-color: #ff406c; */
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
}

.pick-film-info {
  position: relative;
  width: 50%;
  padding: 0 24px 24px 24px;
  box-sizing: border-box;
  font-size: 1.125rem;
  align-self: center;
}

.pick-film-info .titre {
  font-size: 2rem;
  font-weight: 400;
}

h2.collection {
  display: inline-block;
  background: #72b7bb;
  background: linear-gradient(90deg, #7db3af 0%, #7db3af 15%, #3cf 100%);
  color: #444450;
  padding: 6px 18px 6px 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.stub {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 24px;
  font-weight: 300;
  width: 62.5%;
  padding: 16px 0 16px 16px;
  border-left: solid 4px #72b7bb;
  box-sizing: border-box;
}

.stub strong {
  font-weight: 400;
}

ul.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  margin-bottom: 36px;
  padding: 0;
}

li.film {
  display: block;
  grid-column: span 1;
  grid-row: span 1;
  padding: 24px;
  transition: 0.15s;
}

li.film:hover {
  background-color: #72b7bb;
}

li.film > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

li.film .img-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  background-color: #444450;
  margin-bottom: 8px;
}
li.film .img-container img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: auto;
  background-color: #444450;
}

.film-info {
  font-weight: 300;
  font-size: 0.875rem;
}

.film-info .titre {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.img-container > .duree {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: inline-block;
  padding: 2px 4px;
  color: #111;
  background-color: #72b7bb;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 3px;
}

/* Page Film */

.film-page {
  font-size: 1.125rem;
}

.colored {
  color: #7db3af;
}

.colored.ispick {
  color: #ff4256;
  /* color: #ff406c; */
}

.film-page .titre-film {
  margin-bottom: 24px;
}

.film-page h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.titre-vo {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.rem {
  font-style: italic;
}

.film-page .realisateurs,
.film-page .synopsis {
  font-weight: 400;
}

a.catfilm {
  display: block;
  margin-top: 48px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

.video-wrapper {
  position: relative;
  margin: 0 auto;
  width: 75%;
}

.video-container {
  position: relative;
  background-color: #000;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 36px;
}
.video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 374px) {
  .pick-title-container .sous-titre-fr {
    display: none;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 15px;
  }

  h2 {
    margin-left: 0;
  }

  article {
    width: 91.67%;
  }

  .pick-container {
    margin-bottom: 0;
  }

  .pick {
    flex-direction: column;
    padding: 60px 0 0 24px;
  }

  .pick-label {
    margin-left: 0;
  }

  .pick-img-container {
    width: 100%;
    padding-bottom: 24px;
  }

  .pick-title-container {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .pick-film-info {
    position: relative;
    width: 100%;
    padding-left: 0;
  }

  .stub {
    margin-left: 0;
    width: 100%;
  }

  ul.grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
    /* grid-gap: 4px; */
  }
  li.film {
    padding: 0;
  }

  li.film > a {
    flex-direction: row;
  }
  li.film .img-container {
    position: relative;
    width: 50%;
    padding-bottom: 37.5%;
    background-color: #000;
    margin-bottom: 0;
  }
  li.film .film-info {
    padding: 0 0 0 8px;
    width: 50%;
    box-sizing: border-box;
    align-self: center;
  }

  .video-wrapper {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  article {
    width: 75%;
  }

  .pick-title-container {
    font-size: 2rem;
    line-height: 2rem;
  }

  ul.grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
